#gorilla {
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-image: url('gorilla.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes gorilla {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}